.post {
    background: #49306B;
    color: #FFF;
    padding: 1em;
    margin: 0 0 0.7em 0;

    .content {
        font-size: 1.2em;
    }

    .date {
        text-align: right;
        font-size: 0.8em;
    }
}